body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(225, 225, 225);
  user-select: none;
}

.for-copyable {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-btn {
  padding: 6px 7px 2.5px 7px;
  cursor: pointer;
  background-color: rgb(55, 55, 55, 0.9);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.copy-icon {
  width: 20px;
  height: 20px;
  opacity: 0.95;
  filter: brightness(0) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(0%);
}

.copy-btn.active {
  background-color: rgb(90, 90, 90, 0.8);
}
