#game-board {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 4px;

  padding: 10px;
  border: 8px solid rgb(68, 68, 68);
  background-image: linear-gradient(
    -45deg,
    #a0a0a0 25%,
    #8a8a8a 25%,
    #8a8a8a 50%,
    #a0a0a0 50%,
    #a0a0a0 75%,
    #8a8a8a 75%,
    #8a8a8a
  );
  background-size: 20px 20px;
}

.cell {
  width: 50px;
  height: 50px;
}

.wall {
  background-image: linear-gradient(
    45deg,
    #6a6a6a 25%,
    #4a4a4a 25%,
    #4a4a4a 50%,
    #6a6a6a 50%,
    #6a6a6a 75%,
    #4a4a4a 75%,
    #4a4a4a
  );
  background-size: 20px 20px;
  border: 4px solid rgb(51, 51, 51);
  box-shadow: inset 0 0 10px rgb(74, 63, 63);
}

.player {
  height: 42px;
  width: 42px;
  background-color: rgb(0, 0, 250);
  box-sizing: border-box;
  border: 19px double rgb(0, 0, 195);
}

.goal {
  height: 42px;
  width: 42px;
  background-image: radial-gradient(circle, rgb(255, 225, 0) 30%, rgb(212, 175, 55) 70%);
  border: 4px solid rgb(184, 134, 11);
}

.goal.player {
  box-sizing: content-box;
}
