#game-info-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(215, 215, 215);
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

#game-info-btn:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

#game-info-modal {
  position: fixed;
  bottom: 60px;
  left: 10px;
  width: 280px;
  background-color: rgba(45, 45, 45, 0.95);
  color: rgb(210, 210, 210);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

#game-info-modal.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.info-section {
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(85, 85, 85, 0.75);
  border-radius: 5px;
  margin-bottom: 8px;
}

.info-content {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  background-color: rgba(65, 65, 65, 0.85);
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}
